<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Episode!</title>
  </head>
  <body>
    <form action="/episodes" method="post">
      <label>Episode Title:</label>
        <input id="title" type="text" name="episode[title]"><br>
      <label>Date:</label>
        <input id="date" type="text" name="episode[date]"><br>
        <input type="submit" value="create">
    </form>
  </body>
</html>
