<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Daily Show</title>
  </head>
  <body>
    <h1>Episode: <%= @episode.title %></h1>
    <h3>Date: <%= @episode.date %></h3>
  </body>
</html>
